twig:
    default_path: '%kernel.project_dir%/templates'
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'
    globals:
      # the value is the service's id
      web_setting: '@App\Service\WebSetting'
