{% extends 'web/layout.html.twig' %}
{% block main %}
    <div class="row clearfix">
    {% for article in list %}
        <div class="col-md-4 column">
            <h2>
                {{ article.title ?? '' }}
            </h2>
            <p>
                {% autoescape false %}
                    {{ article.description ?? '' }}
                {% endautoescape %}
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
