<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ web_setting.name ?? '' }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('sb') }}
    {% endblock %}
</head>
<body>
<div id="wrapper">
    {% include "sb/topbar.html.twig" %}
{% block body %}
{% endblock %}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('sb') }}
{% endblock %}

</body>
</html>