{% extends 'sb/layout.html.twig' %}

{% block title %}发布文章{% endblock %}
{% block nav_name %}发布文章{% endblock %}
{% block main %}
    {{ include('sb/article/_form.html.twig') }}
    {#<a href="{{ path('article.index') }}">back to list</a>#}
{% endblock %}


{% block js %}
{% endblock %}