{% extends 'sb/layout.html.twig' %}

{% block title %}Create Article{% endblock %}
{% block nav_name %}Create Article{% endblock %}
{% block main %}
    {{ include('sb/article/_form.html.twig') }}
    {#<a href="{{ path('article.index') }}">back to list</a>#}
{% endblock %}


{% block js %}
{% endblock %}